.dev__container {
  padding: 1rem;
  background-color: #f3f3f3;
  max-width: 27rem;
  margin: auto;
  margin-top: 1rem;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}

.dev__content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.dev__item {
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.dev__btn-box {
  display: flex;
  padding: 0.8rem 0.7rem;
  cursor: pointer;
  background-color: #e7e7e7;
  border: 1px solid #e6e6e6;
  border-radius: 5px 5px 0 0;
}

.dev__btn-box--active {
  background-color: #cbcbcb;
}

.dev__title {
  width: 100%;
  font-weight: bold;
  text-align: left;
  font-size: 1.1rem;
}

.dev__title-arrow {
  display: flex;
  align-items: center;
}

.dev__title-arrow svg {
  width: 1.2rem;
  height: 1.2rem;
  stroke-width: 2.5px;
}

.dev__desc {
  visibility: hidden;
  height: 0;
}

.dev__desc--active {
  display: flex;
  visibility: visible;
  padding: 0.8rem;
  border-radius: 5px;
  height: 100%;
}
